a{
    &:hover{
        text-decoration: unset;
    }
}
.navbar{
  a{
    color:black;
    padding: 5px 10px;
  }
  .currentLink{
    color: #4545ce;
    border-bottom: 1px solid #4545ce;
  }
}

.logo {
    width: 200px;
    img {
        width: 100%;
        height: 100%;
    }
}
.aboutUs{
    h1{
        text-align: center;
    }
}
