@media only screen and (max-width: 768px) {
  .findCountry {
    .inputPartSection {
      .inputBlock {
        margin-bottom: 30px;
      }
      .inputBlock:last-child{
        margin-bottom: 0;
      }
    }
    .availableCountrySection {
      .availableCountry {
        button {
          margin: 0;
        }
      }
    }
    .selectedCountry {
      flex-direction: column;

      .selectedCountryPrice, .selectedCountryName {
        margin-bottom: 25px;
      }
      button {
        padding: 10px 28px !important;
      }
    }
    .finalInformationSection {
      .travellingInformation {
        font-size: 20px !important;
      }
      .tourCost {
        font-size: 30px !important;
      }
    }
  }
}

@media only screen and (max-width: 575px){
  .visitedCountry {
    .visitedCountryItem {

      .visitedCountryImg{
        height: 250px;
      }
    }
  }
  .advantagesText{
    h1{
        font-size: 30px;
    }
  }
  .teamMembers {
    .teamMember {
      .teamMemberImage{
        height: 250px;
      }
    }
  }
  .offerSection{
    .content{
      padding: 20px;

    }
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}