@media only screen and (max-width: 991px){
  .selectedCountry {
    flex-direction: column;
    .selectedHotelInform {
      margin-bottom: 25px;
    }
    button {
      padding: 10px 28px !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .offerSection {
    width: 100% !important;
    padding:0 20px;
    .content {
        padding:50px 20px !important;
    }
  }
  .findCountry {
    .inputPartSection {
      .inputBlock {
        margin-bottom: 30px;
      }
      .inputBlock:last-child{
        margin-bottom: 0;
      }
    }
    .availableCountrySection {
      .availableCountry {
        button {
          margin: 0;
        }
      }
    }
    .finalInformationSection {
      .travellingInformation {
        font-size: 20px !important;
      }
      .tourCost {
        font-size: 30px !important;
      }
    }
  }
}

@media only screen and (max-width: 575px){
  .visitedCountry {
    .visitedCountryItem {
      .visitedCountryImg{
        height: 250px;
      }
    }
  }
  .advantagesText{
    h1{
        font-size: 30px;
    }
  }
  .teamMembers {
    .teamMember {
      .teamMemberImage{
        height: 250px;
      }
    }
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}